<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:ign="http://ignitionrobotics.org/schemas">

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find tamiyabot_controller)/config/tamiyabot_controllers.yaml</parameters>
        </plugin>
  </gazebo>

</robot>
